/* .about-card__container {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: lightcoral;
    padding: 1em; 
    height: 80vh;
<<<<<<< HEAD
    margin-top: 10vh;
    overflow: auto;
    width: inherit;
    animation-name: about-card;
}
=======
    overflow: auto;
} */
>>>>>>> no-bootstrap

.about-card__image img {
    border-radius: 50%; 
    border: 1px solid #ffff;
<<<<<<< HEAD
};
=======
    background: url('../../assets/static/images/profile-image.jpg') no-repeat;
    background-size: cover; 
    height: 200px; 
    width: 200px; 
};


>>>>>>> no-bootstrap
