.about-card__container {
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: lightcoral;
    padding: 1em; 
    height: 80vh;
    margin-top: 10vh;
    overflow: auto;
    width: inherit;
    animation-name: about-card;
}

.about-card__image img {
    border-radius: 50%; 
    border: 1px solid #ffff;
};
