
.sidebar-container {
    height: 100%; 
    background-color: #54B689;
    display: flex;
    flex-flow: column;
    color: #fff;
    flex: 1;
    min-width: 275px;
    padding: 1rem;
}

.sidebar-content {
    background-color: #54B689;
    display: flex; 
    flex-flow: column;
    text-align: center;
    overflow: hidden;
}

/* sets spacing for items inside sidebar */
.sidebar-content > div, nav, p{
    padding-top: 1rem;
}

.sidebar-hidden {
    display: none;
}

.height-auto {
    height: auto; 
}

.sidebar-heading {
    position: relative;
    background-color: #54B689;
    height: auto;
    display: flex;
}

.sidebar-heading h3 {
    margin: auto;
}


/*               Media                */

/* sidebar always shows when screen > 850px */
@media only screen and (min-width: 850px) {
    .sidebar-hidden {
        display: flex;
    }
}

/* adds padding to center name -- affected by toggle button */
@media only screen and (max-width: 850px) {
    .sidebar-heading h3 {
        padding-right: 48px;
    }
}

