.toggle-button {
    position: fixed;
    margin: 10px;
    padding: 2px;
    border-radius: 4px;
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button span {
    display: block;
    width: 30px; 
    height: 4px; 
    margin: 5px;
}

.bt-black {
    border: 2px solid #000;
}

.bt-black span {
    background-color: #000;
}

.bt-white {
    border: 2px solid #fff;
}

.bt-white span {
    background-color: #fff; 
}

/* toggle button not displayed when sidebar is in full screen mode */

@media only screen and (min-width: 850px) {
    .toggle-button {
        display: none; 
    }
}