.card {
    flex-basis: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.icon-container {
    display: flex; 
}

.repository-link a {
    text-decoration: none;
    color: var(--green); 
}

.repository-link a:hover {
    text-decoration: underline;
}