.sidebar {
    position: relative;
    height: 100%;
    background-color: lightcoral;
    width: 28vw; 
    left: 0;
    /* transition: all 1s ease-in-out; */
}
.active {
    left: -28vw;
    width: 0;
}


.sidebar ul li {
    padding: 10px;
    list-style: none;
    margin-left: 10px;
}


/* profile section */
.profile {
    text-align: center;
}

.profile img {
    background: url("../../assets/static/images/profile-image.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #fff; 
    width: 180px; 
    height: 180px; 
}

/* =============== */


@media only screen and (max-width: 850px) {
    .sidebar {
        width: 100%; 
        height: auto; 
    }
    .profile {
        display: none; 
    }

    .active {
        height: 0;
        left: 0;
        width: 100%;
        top: -114px;
        display: flex;
    }

    .sidebar ul {
        text-align: center;
    }
}