
/*  ------ General ----- */
.sidebar {
    /* position: relative; */
    height: 100%;
    background-color: #5bb66f;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-flow: column;
    /* transition: all 1s ease-in-out; */
    color: #fff;
    flex-grow: 1;
    flex: 1;
    min-width: 250px;
}
.active {
    display: none;
}

/*       Nav - Links      */

.nav-links ul {
    padding: 15px;
    border-bottom: 1px solid rgba(50, 53, 80, 0.3);
    border-top: 1px solid rgba(50, 53, 80, 0.3);
}

.nav-links ul li {
    padding: 10px;
    list-style: none;
}

.nav-links ul li i {
    margin: 0 5px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-links ul li a:hover {
    color: rgb(50, 53, 80);
}

.active-link {
    color: rgb(50, 53, 80)!important;
}


/*       Profile Section      */

.profile img {
    background: url("../../assets/static/images/profile-image.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #fff; 
    width: 145px; 
    height: 145px; 
}

.profile p {
    font-size: 14px;
    padding-top: 15px;
}



/*     Social Links     */

.social-links a {
    text-align:center;
    background-color: #fff;
    color:  #5bb66f;
	width: 28px;
	height: 28px;
	border-radius: 100%;
    display: flex;
    align-items: center;
    margin: 5px;
    min-width: 28px;
}

.social-links a i{
    align-self: center;
    margin: 0 auto;
}
.social-links a i::before{
    display:inline-block;
    text-decoration:none;
  }
.social-links {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.social-links a:hover {
    background-color: rgb(50, 53, 80);
    color: #fff;
}


/*       Hire me      */

.hire-me {
    display: flex;
    height: 100%; 
    width: 100%;
    align-items: center;
    justify-content: center;
}

.hire-me button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: rgb(50, 53, 80);
    color: #fff;
    border: none;
    font-weight: 900;
}

.hire-me i {
    margin-right: 5px;
}

.hire-me button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: 3px solid rgb(50, 53, 80);
}


/*               Media                */
