.contact-form {
    max-width: 600px;
}

.flex-column {
    flex-direction: column;
}

.align-start {
    align-self: flex-start;
}

/* padding and margins set here to avoid clutter in jsx */
.form-item {
    flex: 1;
    display: flex;
    padding: 0 .25rem; 
    margin-bottom: 1rem;
    flex-direction: column;
}

textarea {
    font-family: inherit;
}

.form-submit {
    background-color: var(--green);
    border-radius: 4px;
    color: var(--white);
    border-color: var(--green);
    cursor: pointer;
}

.form-error {
    color: #ff0000; 
    align-self: flex-start;
}


@media only screen and (min-width: 850px) {
    .form-row {
        display: flex;
    }
}