
.resume-btns button {
    background-color: var(--green);
}

.resume-container {
    display: flex; 
}

.resume-1 {
    flex: 1; 
    display: flex;
    border-right: 2px solid var(--black);
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
}

.resume-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}




