/*       Nav - Links      */

.nav-links ul {
    border-bottom: 1px solid var(--light-dark-blue);
    border-top: 1px solid var(--light-dark-blue);
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--white);
}

.nav-links ul li a:hover {
    color: var(--dark-blue);
}

.active-link {
    color: var(--dark-blue)!important;
}

