
/* profile section */

.profile-heading {
    background-color: var(--shaded-white);
    display: flex;
    flex-wrap: wrap;
}

.profile-content {
    flex: 1; 
}

.profile-img {
    flex: 1;
    max-width: 400px;
    max-height: 300px;
    object-fit: contain;
    min-width: 400px;
}

/* skills section */

.skills-heading {
    border-left: 5px solid var(--green);;
}

/* cards */
.card-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-basis: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

@media only screen and (max-width: 540px) {
    .card-container {
        justify-content: center;
    }
}