/* ------   General   ------*/
html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    margin: 0!important; 
    /* font-size: 12px;  */
    /* font-weight: 400; */
    font-family: sans-serif;
    font-style: normal; 
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 15px;
}



/* site container style */
.site-wrapper {
    width: inherit; 
    height: inherit;
    display: flex; 
    flex-wrap: wrap;
}


/* style for each view page */
.view-content {
    height: 100%;
    text-align: center;
    flex: 1 1 auto;
}