/* ------   General   ------*/
html, body, #root {
    height: 100%;
    width: 100%;
}
body {
    margin: 0!important; 
    /* font-size: 12px;  */
    /* font-weight: 400; */
    font-family: sans-serif;
    font-style: normal; 
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}



/* site container style */
.site-wrapper {
    width: inherit; 
    height: inherit;
}

/* style for each view page */
.view-content {
    height: auto;
    overflow: auto;
    flex: 4;
}


@media only screen and (min-width: 850px) {
    .site-wrapper {
        display: flex; 
        flex-wrap: wrap;
    }
}